<!DOCTYPE html>
<html ng-app="toolController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fault Management Tool</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap-3.3.1-dist/dist/css/bootstrap.min.css">
<link rel="sylesheet" href="css/bootstrap-3.3.1-dist/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/vis/vis.css">
<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="js/vis/vis.js"></script>
<script type="text/javascript" src="css/bootstrap-3.3.1-dist/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-utils.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="js/navigationBar.js"></script>
<style type="text/css">
#mynetwork {
	width: auto;
	height: auto;
	border: 1px solid lightgray;
}
.bold {
	font-weight: bold;
}
.nav-sidenav ul {
	list-style: none;
	padding: 0px;
}
.nav-sidenav > li.first {
	border-left: 5px solid #a58fc4;
}
.nav-sidenav > li.second {
	border-left: 5px solid #58c5c7;
}
.nav-sidenav > li.third {
	border-left: 5px solid #915f13;
}
.nav-sidenav > li.fourth {
	border-left: 5px solid #b6cf2f;
}
.nav-sidenav > li.fifth {
	border-left: 5px solid #fdb731;
}
.nav-sidenav > li.sixth {
	border-left: 5px solid #00aef0;
}
.nav-sidenav li.divider {
	border-bottom: 1px solid #e6e6e6;
}
.nav-sidenav > li {
	margin: 1px 0px;
}
.nav-sidenav > li.sidenav-active-background {
	background-color: #e6e6e6;
}
.nav-sidenav li a {
	color: #4d4d4f;
	display: block;
	text-decoration: none;
	outline: none;
}
.nav-sidenav li li a {
	padding: 5px 25px;
}
.nav-sidenav li li li a {
	padding: 5px 35px;
}
.nav-sidenav li a:hover, .nav-sidenav li a:focus {
	background-color: #d1d1d1;
}
</style>
</head>
<body  onload="draw()">
<div class="row">
  <div class="container-fluid">
    <div class="col-lg-2 col-md-2 col-sm-2 ">
      <div class="hidden-xs"> <img src="imagenes/uavFoto.jpg" class="img-responsive" width="317" height="189" alt="uavFoto" > </div>
      <div class="table-responsive">
        <table id="table" class="table table-bordered table-condensed" >
          <tbody>
            <tr>
              <th>Battery</th>
              <td>65%</td>
            </tr>
            <tr>
              <th>STATE</th>
              <td>OK</td>
            </tr>
            <tr>
              <th>Wing Front</th>
              <td>653 rpm</td>
            </tr>
            <tr>
              <th>Wing left</th>
              <td>720 rpm</td>
            </tr>
            <tr>
              <th>Wing Rigth</th>
              <td>720 rpm</td>
            </tr>
            <tr>
              <th>Wing Back</th>
              <td>720 rpm</td>
            </tr>
            <tr>
              <th>Position</th>
              <td>(3.2,4.2,1.5)</td>
            </tr>
            <tr>
              <th>Wifi-Connection</th>
              <td>95%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--End tabla con info del UAV --> 
      
      <!--Left navigation bar -->
      <div ng-controller="processBrowser" >
        <ul class="nav nav-sidenav">
          <li class="sixth"  ng-repeat="group in groups | orderBy:'module' | unique:'module'" > <a href="#" data-toggle="collapse" data-target="#{{group.module}}id" data-parent="#side-navigation">{{ group.module}}</a>
            <ul class="collapse" id="{{group.module}}id">
              <li ng-repeat="group in groups | orderBy:'process.Name' | filter: group.module | unique:'process' "><a href="#" data-toggle="collapse" data-target="#{{group.process.Name}}" + "{{group.process.id}}" >{{group.process.Name}}</a>
                <ul class="collapse" id="{{group.process.Name}}" + "{{group.process.id}}">
                  <li  ng-repeat="group in groups | orderBy:'message.Name' | filter: group.process.Name"><a href="#">{{group.message.Name}}::{{group.message.Type}}</a> </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--End left navigation bar --> 
    </div>
    <!--End left column grid -->
    
    <div class="col-lg-10 col-md-10 col-sm-10">
      <nav class="navbar navbar-default">
        <div class="navbar-header"> <a class="navbar-brand" href="#">barra de herramientas</a> </div>
      </nav>
      <div class="Grafo">
        <div id="mynetwork"></div>
        <!--<img src="imagenes/ImagenGrafo.png" alt="grafoArquitectura" class="img-responsive" width="1203" height="497" /> </div>--> 
      </div>
      <!--End main central grid--> 
      
      <!--End right column grid --> 
      
    </div>
    <!--End container--> 
  </div>
  <!--End row--> 
</div>
<script type="text/javascript">
var nodes = null;
var edges = null;
var network = null;

//Prueba 1
var origin = [2,2,1,9,9,7,8,10,4,5,6,6,7,8];
var destination = [3,1,2,1,2,9,10,8,10,6,8,7,8,9];
var messages = ['FlightOrder', 'ActionConfirmation', 'ActionRequest', 'StateMapAbstraction','StateMapAbstraction','RobotStateAbstraction', 'GridStateAbstraction','UAVPositionChange', 'OdometryChange', 'RealImageOnFligth','CameraFrameAbstraction','CameraFrameAbstraction','GridStateAbstraction','GridStateAbstraction'];
var process = ['Mission Planner','Fligth_Controller', 'Pilot_Driver','Odometry_Driver','Camera_Driver','Camera_Processor','Robot_Detector', 'Grid_Detector','State_Map_Estimator','Pose_Estimator'];
var pointX = [24364.9,28711.9,31942.9,10405.9,1067.92,5362.92,14818.9,10405.9,19631.9,14818.9];
var pointY = [-10697.8,-10099.8,-10099.8,-2558.84,-8828.84,-8828.84,-9858.8,-7222.84,-7720.84,-4665.84 ];



// Prueba 2
//var origin = [2,2,1,9,9,7,8,10,4,5,6,6,7,8,12,12,11,19,19,17,18,10,14,15,16,16,17,18];
//var destination = [3,1,2,1,2,9,10,8,10,6,8,7,8,9,13,11,12,11,12,19,10,18,10,16,18,17,18,19];
//var messages = ['FlightOrder', 'ActionConfirmation', 'ActionRequest', 'StateMapAbstraction','StateMapAbstraction','RobotStateAbstraction', 'GridStateAbstraction','UAVPositionChange', 'OdometryChange', 'RealImageOnFligth','CameraFrameAbstraction','CameraFrameAbstraction','GridStateAbstraction','GridStateAbstraction','Flight2Order', 'ActionCon2firmation', 'ActionReque2st', 'StateMapAbstrac2tion','StateMapAbstrac2tion','RobotStateAbstra2ction', 'GridStateAbstractio2n','UAVPositionChange2', 'OdometryChange2', 'RealImageOnFligth2','CameraFrameAbstraction2','CameraFrameAbstraction2','GridStateAbstraction2','GridStateAbstraction2'];
//var process = ['Mission Planner','Fligth_Controller', 'Pilot_Driver','Odometry_Driver','Camera_Driver','Camera_Processor','Robot_Detector', 'Grid_Detector','State_Map_Estimator','Pose_Estimator','Mission Planner2','Fligth_Controller2', 'Pilot_Driver2','Odometry_Driver2','Camera_Driver2','Camera_Processor2','Robot_Detector2', 'Grid_Detector2','State_Map_Estimator2','Pose_Estimator2'];
//var pointX = [24364.9,28711.9,31942.9,10405.9,1067.92,5362.92,14818.9,10405.9,19631.9,14818.9,64364.9,18711.9,21942.9,20405.9,2067.92,4362.92,24818.9,40405.9,29631.9,44818.9 ];
//var pointY = [-10697.8,-10099.8,-10099.8,-2558.84,-8828.84,-8828.84,-9858.8,-7222.84,-7720.84,-4665.84,-30697.8,-20099.8,-30099.8,-4558.84,-3828.84,-4828.84,-4858.8,-5222.84,-6720.84,-7665.84  ];


 function draw() {
	 
  // create an array with nodes
  var escala = 0.055;
  var escala2 = 0.05;
  var escala3 = 0.06;
  var ErrorColor = "color: red"
  
   // create an array with edges
   edges = [];
  // to fill the edges.
  for (var i = 0; i <= origin.length; i++) {
	 edges.push({from: origin[i], to: destination[i], style: 'arrow', label: messages[i]});
 }
   // create an array with nodes.
   nodes = [];
  // to fill the nodes properties.
  for (var i = 0; i <= process.length; i++) {
	 nodes.push( {id: i+1, label: process[i], x:pointX[i]*escala, y:pointY[i]*escala, shape: 'circle', allowedToMoveX: true, allowedToMoveY: true });
 }
    // create a network
  var canvas = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var tamano= screen.height*0.8;
  var tamanoPx= tamano + 'px' 
  console.log(screen.height);
  console.log(tamanoPx);
  var options = {
	  physics:{barnesHut:{gravitationalConstant:0, springConstant:0, centralGravity: 0}}
	  ,smoothCurves:{dynamic:false, type: '1'},
	  width: 'auto',
      height: tamanoPx 
	  };
  var network = new vis.Network(canvas, data, options); 

network.on('select', function (properties) {
  alert('Se ha seleccionado el proceso: ' + properties.nodes);
});
}


  


</script>
</body>
</html>