<!DOCTYPE html>
<html lang="en" ng-app="faultManagementApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Fault Management System</title>
<link href="css/bootstrap-3.3.1-dist/dist/css/bootstrap.css" rel="stylesheet">
<link href="css/sb-admin-2.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="js/vis/vis.js"></script>
<script type="text/javascript" src="css/bootstrap-3.3.1-dist/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-utils.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="app/appCtrl.js"></script>
<style type="text/css">
.bold {
  font-weight: bold;
}
.navbar-default ul {
  list-style: none;
  padding: 0px;
}
.navbar-default > li.sixth {
border-left: 5px solid #4169E1;
}
.navbar-default li.divider {
  border-bottom: 1px solid #000000 ;
}
.navbar-default > li {
  margin: 1px 0px;
}
.navbar-default > li.navbar-default-active-background {
  background-color: #e6e6e6;
  border-left: 5px solid #00aef0;
}
.navbar-default li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #337AB7;
  outline: none;
  background-color:#f8f8f8;
}
.navbar-default li li a {
  padding: 5px 25px;
}
.navbar-default li li li a {
  padding: 5px 35px;
}
.navbar-default li a:hover, .navbar-default li a:focus {
    background-color: #ADD8E6;
    border-left: 5px solid #99CCFF;
    font-size: 15px;
}

</style>
</head>

<body  ng-controller="appCtrl">
<div id="wrapper">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation"  style="background-color:#ADD8E6">
         <ul class="nav navbar-top-links navbar-right" ><li><img src="imagenes/UPMlogo.png" class="img-responsive" width="100" style="margin-left: 6cm" /></li></ul>
  <div class="navbar-header"> <a class="navbar-brand" href="index.html"  style="margin-bottom: 1cm">Fault Management System 
  </a> 
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">Record</a></li>
    <li role="presentation" class="active"><a href="#">Debug </a></li> 
  </ul>
  </div>
  <!-- /.navbar-header -->
  <div class="navbar-default sidebar" role="navigation"  ng-controller="browserViewer" style="margin-top: 4.5cm">
   <ul id="side-menu" class="nav">
    <li class="fa fa-bar-chart-o fa-fw"  ng-repeat="group in groups | orderBy:'module.Name' | unique:'module.Name'" > <a href="#" data-toggle="collapse" data-target="#{{group.module.Name}}id" data-parent="#side-navigation" ng-click="controlViewer('{{group.module.Name}}')"><span class="glyphicon glyphicon-chevron-right"></span>{{ group.module.Name}} </a>
      <ul class="collapse" id="{{group.module.Name}}id">
        <li ng-repeat="group in groups | orderBy:'process.Name' | filter: group.module.Name | unique:'process.Name' "><a href="#" data-toggle="collapse" data-target="#{{group.process.Name}}" + "{{group.process.id}}" >{{group.process.Name}}</a>
          <ul class="collapse" id="{{group.process.Name}}" + "{{group.process.id}}">
            <li  ng-repeat="group in groups | orderBy:'message.Name' | filter: group.process.Name |  unique:'message.Name'"  data-toggle="collapse" data-target="#{{group.message.Name}}" ><a href="#">{{group.message.Name}}::{{group.message.Type}}</a> </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  </div>
  
  <!-- /.navbar-static-side --> 
</nav>
<div id="page-wrapper">
  <div class="row" >
    <div class="panel panel-default"  style="margin-top: 0.5cm" >
      <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i> Process Graph 
        <!-- Buttor Right  -->
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Actions <span class="caret"></span> </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a> </li>
              <li><a href="#">Another action</a> </li>
              <li><a href="#">Something else here</a> </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a> </li>
            </ul>
          </div>
        </div>
        <!-- Buttor Right  --> 
      </div>
      <div class="panel-body">
       <img src="imagenes/ImagenGrafo.png" class="img-responsive" width="1517" height="189" alt="grafoArquitectura" class="img-responsive" width="1203" height="497" /> </div> 
      <!--<div id="mynetwork"></div>--> 
    </div>
    <div class="panel panel-default"  style="margin-top: 0.5cm" >
      <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i> Operation Details 
        <!-- Buttor Right  -->
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Actions <span class="caret"></span> </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a> </li>
              <li><a href="#">Another action</a> </li>
              <li><a href="#">Something else here</a> </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a> </li>
            </ul>
          </div>
        </div>
        <!-- Buttor Right  --> 
      </div>
      <div class="panel-body">
       
      <!--<div id="mynetwork"></div>--> 
    <!-- /.row --> 
  </div>
  <!-- /#page-wrapper --> 
  </div>
</div>
<!-- /#wrapper --> 

<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script> 

<!-- Metis Menu Plugin JavaScript --> 
<script src="js/plugins/metisMenu/metisMenu.min.js"></script> 

<!-- Morris Charts JavaScript --> 
<script src="js/plugins/morris/raphael.min.js"></script> 
<script src="js/plugins/morris/morris.min.js"></script> 
<script src="js/plugins/morris/morris-data.js"></script> 

<!-- Custom Theme JavaScript --> 
<script src="js/sb-admin-2.js"></script>
</body>
</html>
