<style type="text/css">
.bold {
  font-weight: bold;
}
.navbar-default ul {
  list-style: none;
  padding: 0px;
}
.navbar-default > li.sixth {
border-left: 5px solid #4169E1;
}
.navbar-default li.divider {
  border-bottom: 1px solid #000000 ;
}
.navbar-default > li {
  margin: 1px 0px;
}
.navbar-default > li.navbar-default-active-background {
  background-color: #e6e6e6;
  border-left: 5px solid #00aef0;
}
.navbar-default li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #337AB7;
  outline: none;
  background-color:#f8f8f8;
}
.navbar-default li li a {
  padding: 5px 25px;
}
.navbar-default li li li a {
  padding: 5px 35px;
}
.navbar-default li a:hover, .navbar-default li a:focus {
	background-color: #ADD8E6;
	border-left: 5px solid #99CCFF;
	/* [disabled]font-size: 15px; */
}

.navbar.navbar-default.navbar-static-top .navbar-default.sidebar #side-menu .fa.fa-bar-chart-o.fa-fw a .glyphicon.glyphicon-chevron-right {
	margin-right: 8px;
}
</style>

<div id="wrapper" ng-controller="appCtrl">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation"  style="background-color:#ADD8E6">
         <ul class="nav navbar-top-links navbar-right" ><li><img src="imagenes/UPMlogo.png" class="img-responsive" width="100" style="margin-left: 6cm" /></li></ul>
  <div class="navbar-header"> <a class="navbar-brand" href="index.html"  style="margin-bottom: 1cm">Fault Management System 
  </a> 

  <ul class="nav nav-tabs"  style="margin-left: 0.3cm">
    <li role="presentation"><a href="#">Record</a></li>
    <li role="presentation" class="active"><a href="#">Debug </a></li> 
  </ul>
  </div>
  <!-- /.navbar-header -->
  <div class="navbar-default sidebar" role="navigation"  ng-controller="browserViewer" style="margin-top: 4.5cm">
   <ul id="side-menu" class="nav">
    <li class="fa fa-bar-chart-o fa-fw"  ng-repeat="group in groups | orderBy:'module.Name' | unique:'module.Name'" > <a href="#" data-toggle="collapse" data-target="#{{group.module.Name}}id" data-parent="#side-navigation" ><span class="glyphicon glyphicon-chevron-right"></span>{{ group.module.Name}} </a>
      <ul class="collapse" id="{{group.module.Name}}id">
        <li ng-repeat="group in groups | orderBy:'process.Name' | filter: group.module.Name | unique:'process.Name' "><a href="#" data-toggle="collapse" data-target="#{{group.process.Name}}" + "{{group.process.id}}" >{{group.process.Name}}</a>
          <ul class="collapse" id="{{group.process.Name}}" + "{{group.process.id}}">
            <li  ng-repeat="group in groups | orderBy:'message.Name' | filter: group.process.Name |  unique:'message.Name'"  data-toggle="collapse" data-target="#{{group.message.Name}}" ><a href="#">{{group.message.Name}}::{{group.message.Type}}</a> </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  </div>
  
  <!-- /.navbar-static-side --> 
</nav>
<div id="page-wrapper">
  <div class="row" >
    <div class="panel panel-default"  style="margin-top: 0.5cm" >
      <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i> Process Graph 
      </div>
      <div class="panel-body">
       <img src="imagenes/ImagenGrafoF.png" class="img-responsive" width="1517" height="189" alt="grafoArquitectura" class="img-responsive" width="1203" height="497" /> </div> 
      <!--<div id="mynetwork"></div>--> 
    </div>
    <div class="panel panel-default"  style="margin-top: 0.5cm" >
      <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i> Operation Details 
        <!-- Buttor Right  -->
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Actions <span class="caret"></span> </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a> </li>
              <li><a href="#">Another action</a> </li>
              <li><a href="#">Something else here</a> </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a> </li>
            </ul>
          </div>
        </div>
        <!-- Buttor Right  --> 
      </div>
        <table>
    <thead>
        <tr>
            <th>
                message
            </th>
        </tr>
        <tr ng-repeat="message in allMessage">
            <td>{{message.content}}</td>
        </tr>
        <tr>
            <th>
                message
            </th>
        </tr>
        <tr ng-repeat="message in allMessage">
            <td>{{message.id}}</td>
        </tr>
</table>
      <div class="panel-body">
       
      <!--<div id="mynetwork"></div>--> 
    <!-- /.row --> 
  </div>
  <!-- /#page-wrapper --> 
  </div>
</div>
<!-- /#wrapper --> 

<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Metis Menu Plugin JavaScript --> 
<script src="js/plugins/metisMenu/metisMenu.min.js"></script> 

<!-- Custom Theme JavaScript --> 
<script src="js/sb-admin-2.js"></script>
